@model IEnumerable<KatutyotLib.Models.Tietyö>

@{
    ViewData["Title"] = "Index";
    
}

<div class="text-center">
    <h1 class="display-4">Katuhäiriö-Live Helsinki</h1>
@*    <p>Koko kaupungin tietyöt ja muut kulkuväylien häiriöt juuri nyt</p>*@
    <p>
        <a asp-action="Create">Hae osoitteella tai kaupunginosan nimellä:</a>
    </p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
  
        @*HOX! Tähän alle luettelo kaupunginosista*@
        <label for="Kaupunginosa">Kaupunginosa</label> <select name="Kaupunginosa" id="Kaupunginosa">
            <option value=""></option>
            <option value="Helsinki">Helsinki</option>
            <option value="Espoo">Espoo</option>
            <option value="Vantaa">Vantaa</option>

        </select>
        <label for="Haku">Osoitehaku</label>  @Html.TextBox("haku") <input type="submit"
                                                                                name="submit"
                                                                                value="haku">
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.kaupunginosa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.osoite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tyon_tarkoitus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tyo_alkaa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tyo_paattyy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tyon_suorittaja)
                </th>
                <th></th>
            </tr>
        </thead>
      @* <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.kaupunginosa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.osoite)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tyon_tarkoitus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tyo_alkaa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tyo_paattyy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tyon_suorittaja)
                    </th>
                    <th></th>
             @*       <td>
                        <a asp-action="Edit" asp-route-id="@item.TaikuriId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TaikuriId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.TaikuriId">Delete</a>
                        </td>
                </tr>
            }
        </tbody> *@
    </table>

    
</div>
